extends layout 


block content
        h1.mb-4 #{title}
        form.form-group(method="post",action="/articles/edit/"+data._id)
            .form-group
                label Title:
                input.form-control(name="title",type='text',value=data.title)
            if !user
                .form-group
                    label Author:
                    input.form-control-plaintext.p-3(name="author",type='text',value=user)
            .form-group
                label Body:
                textarea.form-control(name="body")=data.body
            input.btn.btn-primary.mt-3(type='submit',value='submit')