extends layout 


block content
    h1.mb-3 #{title}
    ul.list-group
        each article, i in articles
            li.list-group-item.mb-3.p-3
                a(href="/articles/"+article._id)= article.body
   
    
            